{% extends 'base.html' %}
{% from '_element.html' import element %}
{% block title %}Login{% endblock title %}
{% block head %}
<style type="text/css" media="screen">
#form{
background-color: silver;
margin-right: auto;
margin-left: auto;
}
</style>
{% endblock head %}
{% block page_content %}
<div id="form">
<div class="padding20">
    <h1>Login</h1>
</div>
<form style="padding-left:40px" action="" method="POST" accept-charset="utf-8">
  {{ form.hidden_tag() }}
  {{ element(form.email) }} 
  {{ element(form.password) }} 
  <div>
  {{ form.remember_me.label }}
  {{ form.remember_me }}
  </div>
  {{ form.submit(class="btn btn-dark") }}
</form>
<div class="padding20"><small style="display:block;">Forgot Password? <a href="{{ url_for('auth.reset_password_request') }}">Click here</a></small>
<small>Do not have an account? <a href="{{ url_for('auth.register') }}">Sign Up</a></small></div>
</div>
{% endblock page_content %}
