{% extends 'base.html' %}
{% from '_element.html' import element %}
{% block title %}Login{% endblock title %}
{% block page_content %}
<div>
    <h1>Login</h1>
</div>
<form action="" method="POST" accept-charset="utf-8">
  {{ form.hidden_tag() }}
  {{ element(form.email) }} 
  {{ element(form.password) }} 
  {{ element(form.remember_me) }} 
  {{ form.submit() }}
</form>
<div><small>Forgot Password? <a href="{{ url_for('auth.reset_password_request') }}">Click here</a></small></div>
<small>Don't have an account? <a href="{{ url_for('auth.register') }}">Sign Up</a></small>
{% endblock page_content %}
