{% extends 'base.html' %}
{% from '_element.html' import element %}
{% block title %}Register{% endblock title %}
{% block head %}
 <style type="text/css" media="screen">
#form{
background-color: silver;
margin-right: auto;
margin-left: auto;
}
 </style> 
{% endblock head %}
{% block page_content %}
<div id="form"> 
<div class="padding20">
    <h1>Register</h1>
</div>
  <form style="padding-left: 40px;" action="" method="POST" accept-charset="utf-8">
    {{ form.hidden_tag() }} 
    {{ element(form.email) }}
    {{ element(form.username) }}
    {{ element(form.password) }}
    {{ element(form.confirm_password) }}
    {{ form.submit(class="btn btn-dark") }}
  </form>
<small class="padding20">Already have an account? <a href="{{ url_for('auth.login') }}">Log In</a></small>
</div>
{% endblock page_content %}
