<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
  <title>
    {% block title %}Chirp{% endblock %}
  </title>
  {% block head %}{% endblock head %}
</head>

<body>
  {% block navbar %}
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
    <a class=" navbar-brand nav-link large" href="{{ url_for('main.home') }}"><img style=" padding-right: 30px; padding-bottom: 0px" src="static/logo.png" alt="" loading="lazy" class="d-inline-block align-top">CHIRP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="padding: 20px; font-size: large" class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.home') }}">Home</a></li>
        {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.profile', username=current_user.username) }}">Profile</a></li>
        {% block nav_authenticated %}
        {% endblock %}
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
        {% if current_user.can(Permission.MODERATE) %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
        {% endif %}
        {% if current_user.is_administrator() %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.profile', username=current_user.username) }}">Admin</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock navbar %}

  {% block content %}
  {% for message in get_flashed_messages() %}
  <div class="alert alert-primary alert-dismissible fade show">
    {{ message }}
  </div>
  {% endfor %}

  {% block page_content %}{% endblock %}
  {% endblock %}

  {{ moment.include_jquery() }}
  {{ moment.include_moment() }}
  {{ pagedown.html_head() }}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <footer style="bottom: 0; width: 100%; height: 2.5rem;">
    <div style="padding-top: 20px; margin-bottom:0px; color: white; background-color: black;">
      <b>Follow us to know more</b>
      <ul>
        <li><a href="https://github.com/chocotacove" target="_blank">Github</a></li>

      </ul>
      <p>Copyright © 2020 Chirp. All Rights Reserved</p>
    </div>
  </footer>
</body>

</html>
