{% extends "base.html" %}
{% from '_element.html' import element %}
{% import '_macro.html' as macro %}
{% block title %}Chirp{% endblock %}
{% block page_content %}
{% if current_user.can(Permission.WRITE) %}
    <div><h1>Hello {{ current_user.username }}!</h1></div>
    <form action="" method="POST" accept-charset="utf-8">
      {{ form.hidden_tag() }}
      {{ element(form.body) }} 
      {{ form.submit() }}
    </form>
{% endif %}
<div>
    {% if current_user.is_authenticated %}
    <ul class="nav nav-tabs" id="nav-all-tab" role="tablist" >
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab"data-toggle="tab" role="tab" aria-controls="nav-all" aria-selected="true" href="{{ url_for('main.show_all') }}">All</a></li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="followed-tab" data-toggle="tab" role="tab" aria-controls="followed" aria-selected="false" href="{{ url_for('main.show_follow') }}">Followed</a></li>
    </ul>

    {% endif %}
</div>
{% include '_posts.html' %}
<div>
{{ macro.pagination_widget(pagination, 'main.home') }}
</div>
{% endblock page_content %}
