{% extends "base.html" %}
{% from '_element.html' import element %}
{% import '_macro.html' as macro %}
{% block title %}Chirp{% endblock %}
{% block head %}
   <style type="text/css" media="screen">
.white{
    color: white;
}
.marg{
    margin-left: 20px;
    margin-top: 20px;
}
   </style> 
{% endblock head %}
{% block page_content %}
{% if current_user.can(Permission.WRITE) %}
<div id="form">
    <div class="padding20"><h1>Hello {{ current_user.username }}!</h1></div>
    <form style="padding-left: 20px; margin-right: 20px" action="" method="POST" accept-charset="utf-8">
      {{ form.hidden_tag() }}
      {{ element(form.body) }} 
      {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endif %}
<div>
    {% if current_user.is_authenticated %}
    <button type="button" class="marg btn btn-secondary btn-lg"><a class="white" href="{{ url_for('main.show_follow') }}">Followed Posts</a></button>
    <button type="button" class="marg btn btn-secondary btn-lg"><a class="white" href="{{ url_for('main.show_all') }}">All Posts</a></button>
    {% endif %}
</div>
{% include '_posts.html' %}
<div>
{{ macro.pagination_widget(pagination, 'main.home') }}
</div>
{% endblock page_content %}
