{% extends 'base.html' %}
{% import '_macro.html' as macro %}
{% block page_content %}
{% from '_element.html' import element %}
{% include '_posts.html' %}
<div style="padding-left: 20px">
    <h4 id="comments">Comments</h4>
{% if current_user.can(Permission.COMMENT) %}
  <form action="" method="POST" accept-charset="utf-8">
    {{ form.hidden_tag() }} 
    {{ element(form.body) }}
    {{ form.submit(class="btn btn-primary") }}
  </form>
{% endif %}
</div>
{% include '_comments.html' %}
{% if pagination %}
<div class="pagination">
    {{ macro.pagination_widget(pagination, 'main.post', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}
{% endblock page_content %}
